html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

section {
	margin: 0;
	padding: 0;
}

.links {
    font-size: 1.1em;
    padding:0 20px;
    padding-top: 8px;
    list-style: none;
    font-family: 'Roboto';
    display: inline-block;
	}

.links:hover {
    font-size: 1.1em;
    padding:0 20px;
    padding-top: 8px;
    list-style: none;
    font-family: 'Roboto';
    display: inline-block;
    opacity:.4;
    cursor: pointer;
	}

.logo {
	float: left;
	display: inline block;
	vertical-align: center;
	height: 3rem;
}

.floating_navigation {
	position: fixed;
	width: 100%;
	z-index: 9999;
	top:0;
	background-color: white;
	height: 4.4rem;
	border-bottom: solid 1px #F25C2A;
}

#standardize_ul {
	width: 70%;
	height: 4.4rem;
	padding-left: 0;
	display: inline-block;
}

#size {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	min-width: 900px;
}

#standardize_img {
	width: 30%;	padding-left: 0;
	display: inline-block;
	margin-top: 10px;
}
#active {
    color: #4c5058;
    font-weight: 900;
}

.content {
	margin: 0 auto;
	text-align: center;
}

.introduction {
    background: url(../img/intro_background.jpg) no-repeat center center;
    width: 100%;
    padding: 50px 0 220px 0;
    background-size: cover;
    text-align: center;
}

.intro_h1 {
	color: white;
	letter-spacing: 2px;
	margin-top:17rem;
	margin-bottom: 25px;
	font-size: 3rem;
	font-family: 'Roboto';
}

 .intro_h2 {
 	color: white;
 	font-size: 1.4rem;
 	margin-top: -10px;
 	margin-bottom: 30px;
 	font-family: 'Roboto'
 }

 .button {
 	width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: .3em;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;

 }

 .icon_h2 {
	color: black;
	letter-spacing: 2px;
	margin-top:0;
	margin-bottom: 25px;
	font-size: 2.3rem;
	font-family: 'Roboto';
	min-width: 800px;
 }

 .logo_img {
	width: 127px;
	position: top;
	height:127px;
	display: inline-block;
 }

 .logos {
	padding-top: 100px;
	margin-top: 20px;
	text-align: center;
 }

 .caption {
 	font-family: 'Roboto';
    font-size: 1.5rem;
    padding-top: 25px;
 }

 .devices {
 	padding-left: 40px;
 	width: 800px;
 	display: inline-block;
 	margin-top: 25px;
 }

 #position_li {
 	width: 33.3333333%;
   	float: left;
   	list-style-type: none;
   	display: inline-block;
 }

 #position_social {
   	float: center;
   	list-style-type: none;
   	display: inline-block;
   }

 .social_icons {
	display: inline-block;
	list-style-type: none;
	padding-left: 0px;
 	width: 200px;
 	display: inline-block;
 	margin-top: 0px;
 }

 #twitter {
 	color: #55acee;
 	margin-top: 13px;
 }

  #facebook {
 	color: #3f729b;
 	margin-top: 13px;
 }

  #instagram {
 	color: #3f729b;
 	margin-top: 13px;
 }

hr {
 	border: 0;
    border-top: 1px solid #F25C2A;
    width: 700px;
    margin:6rem auto 4rem auto;
 }

 h5 {
 	font-family: 'Roboto';
 	font-size: 1rem;
 }

 .container {
 	border: 1px solid #F25C2A;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	vertical-align: center;
	cursor: pointer; 
 }

 .container:hover {
 	 	border: 1px solid #F25C2A;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	vertical-align: center;
	cursor: pointer;
	opacity: .4;
 }

 .copyright {
	font-family: 'Roboto';
 	font-size: 1rem;
 	opacity: .5;
 	margin: 10px 0 10rem 0;
 }