html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

section {
	margin: 0;
	padding: 0;
}

#list {
	vertical-align: middle;
	float: right;
	list-style: none; 
	margin-right: 280px;
	margin-top: 10px;
}

li {
    font-size: 1.2em;
    list-style: none;
    font-family: 'Roboto';
    display: inline-block;
	}

nav {
	border-bottom: solid 1px chocolate;
	height: 3rem;
	width: 100%;

}

nav > .logo {
	display: inline-block;
	float: right; 
}

nav > .content {
	height: 3rem;
}

.floating_menu {
	position: fixed;
	width: 100%;
	z-index: 9999;
	top:0;
	padding: 10px 0px;
	background-color: white;
	height: 3rem;
}

nav >.links {
	vertical-align: middle;
	float: right;
    color: #838994;
    font-size: .9em;
    width: 736px;
}

#separate {
	margin-right: 10px;
	margin-left: 10px;
}

nav > .active {
    color: #4c5058;
    font-weight: 900;
}

.content {
	margin: 0 auto;
	text-align: center;
}

.introduction {
    background: url(../img/intro_background.jpg) no-repeat center center;
    width: 100%;
    padding: 50px 0 220px 0;
    background-size: cover;
    text-align: center;
}

.intro_h1 {
	color: white;
	letter-spacing: 2px;
	margin-top:17rem;
	margin-bottom: 25px;
	font-size: 3rem;
	font-family: 'Roboto';
}

 .intro_h2 {
 	color: white;
 	font-size: 1.4rem;
 	margin-top: -10px;
 	margin-bottom: 30px;
 	font-family: 'Roboto'
 }

 .button {
 	width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: .3em;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;

 }

 .icon_h2 {
	color: black;
	letter-spacing: 2px;
	margin-top:0;
	margin-bottom: 25px;
	font-size: 2.3rem;
	font-family: 'Roboto';
	min-width: 800px;
 }

 .logo_img {
	width: 127px;
	position: top;
	height:127px;
	display: inline-block;
 }

 .logos {
	padding-top: 100px;
	margin-top: 20px;
	text-align: center;
 }

 .caption {
 	font-family: 'Roboto';
    font-size: 1.5rem;
    padding-top: 25px;
 }

 .devices {
 	padding-left: 0px;
 	width: 800px;
 	display: inline-block;
 	margin-top: 25px;
 }

 #position_li {
 	    width: 33.3333333%;
    	float: left;
 }